/* FONTS IMPORT */
@font-face {
  font-family: proxima-nova-bold;
  src: url(../fonts/FontsFree-Net-Proxima-Nova-Xbold.otf);
}
@font-face {
  font-family: verdana;
  src: url(../fonts/VERDANA.TTF);
}

@font-face {
  font-family: proxima-nova;
  src: url(../fonts/proximanova-regular.otf);
}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --main-color: #044d78;
  --bg: #fff;
  --gold: #cc9933;
  --blue: #04adec;
  --black: black;
  --orange: #cc9966;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "proxima-nova", sans-serif;
  line-height: 1.5;
}

h1 {
  font-family: "proxima-nova-bold", arial;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "proxima-nova", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  background-image: url(../image/about-banner.png);
  /* background-image: url(../image/banner.jpg); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  height: 500px;
  overflow: hidden;
}

header .container .header-cont {
  width: 100%;
  padding: 20px 90px;
  display: flex;
  color: var(--main-color);
  text-align: center;
  justify-content: space-between;
  align-items: center;
  font-family: verdana, sans-serif;
  height: 100px;
}
.home .header-cont {
  background-color: rgb(255, 255, 255, 0.7);
}
header .container .logo img {
  width: 50px;
}

.rotated {
  -webkit-animation: spin 5s reverse infinite;
  -moz-animation: spin 5s linear infinite;
  animation: spin 5s linear infinite;
}

/* use keyframes */

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotateY(180deg);
  }
}

@-moz-keyframes spin {
  100% {
    -webkit-transform: rotateY(180deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotateY(180deg);
  }
}

header nav {
  display: inline;
}

header nav ul {
  display: flex;
}

header nav ul li a {
  color: var(--main-color);
  font-size: 22px;
  padding: 20px;
}

header nav ul li a:hover {
  color: var(--main-color);
}

.nav-sub {
  display: none;
}

.nav-bar ul li:hover .nav-sub ul {
  display: block;
}

.head-info .row {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.head-info .row ul li img {
  padding-top: 5px;
}

.head-info ul {
  display: flex;
  align-items: center;
  align-self: center;
}

.head-info a {
  color: var(--main-color);
  font-size: 22px;
}

.head-info ul li a:hover p {
  display: block;
}

.head-info ul li:not(:last-child) {
  padding-right: 18px;
}

.head-info ul li a img {
  width: 50px;
}
.search-cont {
  display: block;
}
.search-bar {
  align-items: center;
  display: inline;
  margin-top: 30px;
  position: absolute;
  font-family: "Poppins", sans-serif;
}
/* .fa-magnifying-glass {
  font-size: x-large;
} */
.search-bar input {
  padding: 5px;
  font-size: 18px;
  font-weight: 100;
  position: absolute;
  margin-left: -220px;
  border-color: #044d78;
}
.search-bar ::placeholder {
  font-size: 14px;
}
#main {
  color: var(--main-color);
  font-weight: 1000;
}
.head-info form {
  display: none;
}
.search-bar button {
  margin-left: -8px;
  background-color: var(--main-color);
  border: none;
  position: absolute;
  cursor: pointer;
  color: #fff;
  opacity: 1;
  padding: 10px;
  /* margin-top: 2px; */
  /* margin: 10px 10px 10px 0; */
}

.search-bar button:hover {
  color: var(--main-color);
  opacity: 1;
}

#video-top {
  position: relative;
  background: var(var(--bg));
}


.hamburger {
  display: none;
}

/* BANNER SECTION */
.banner {
  width: 100%;
  text-align: center;
  padding: 100px 80px 0;
  height: 400px;
}

#nice {
  padding-top: 150px;
}

.banner .banner-content {
  width: 100%;
}

.banner .banner-content h1 {
  font-size: 87px;
  line-height: 87px;
  color: var(--bg);
  font-family: "proxima-nova-bold", sans-serif;
}


.banner .banner-content h4 {
  font-size: 35px;
  margin-top: 10px;
  color: var(--bg);
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
}

.banner .banner-content .banner-link a {
  padding: 20px 24px;
  border-radius: 28px;
  background-color: var(--main-color);
  color: var(--bg);
  font-size: 22px;
  font-weight: bolder;
  font-family: "proxima-nova-bold", sans-serif;
  line-height: 30px;
  letter-spacing: 1px;
}

.banner .banner-link a:hover {
  background-color: var(--bg);
  border: 3px solid var(--main-color);
  color: var(--main-color);
}

/* MEDIA REVIEWS */
.media-reviews {
  width: 100%;
  background-color: var(--main-color);
  align-items: center;
  text-align: center;
  padding: 20px 80px 25px;
}

.media-reviews .row {
  display: flex;
  justify-content: space-between;
}

.media-reviews .medias {
  color: var(--gold);
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.media-reviews .medias h2 {
  color: var(--bg);
  font-size: 40px;
  /* padding-bottom: 5px; */
}

.media-reviews .medias .stars {
  display: flex;
  font-size: 25px;
  line-height: 25px;
}

.media-reviews .medias ul li:not(:last-child) {
  padding-right: 5px;
}

.media-reviews .medias span {
  /* padding-top: 10px; */
  font-size: 20px;
}

/* GET CLIENT RESULT SECTION */
.result-client {
  width: 100%;
  text-align: center;
}

.result-client h3 {
  font-size: 46px;
  text-align: center;
  padding: 30px 0;
  color: var(--main-color);
  font-weight: 100;
}

.result-client h3 span {
  font-weight: 1000;
}

/* Watch Video Section */
.result-client .row {
  width: 100%;
  padding: 0 80px 30px;
  display: flex;
}

.result-client .video-left {
  /* width: 50%; */
  float: left;
  margin-right: 10px;
  border: 2px solid var(--main-color);
}
.result-client .row .hvideo-content {
  display: flex;
  flex-direction: column;
  border-top: none;
  margin-top: 10px;
  padding-top: 0;
}
.result-client .hvideo-content q {
  background-color: var(--main-color);
  width: 100%;
  padding: 10px 10px 15px;
  color: var(--bg);
  font-size: 25px;
  font-weight: bold;
}
.result-client .hvideo-content .tarrif-cont {
  display: flex;
  padding: 0 15px;
  width: 100%;
  padding: 15px;
}
.result-client .hvideo-content .tarrif-cont .tarrif {
  width: 50%;
  display: flex;
  flex-direction: column;
  font-size: 40px;
  font-weight: 1000;
  color: var(--main-color);
}


.result-client .hvideo-content .tarrif-cont .tarrif:not(:last-child) {
  border-right: 2px solid var(--main-color);
}
.result-client .hvideo-content .tarrif-cont .tarrif span {
  font-size: 18px;
  font-weight: 100;
  color: black;
}
.result-client .hvideo-content .video-para {
  padding: 10px 15px;
  text-align: justify;
}
.result-client .hvideo-content .video-para a {
  color: var(--main-color);
}
.result-client .row .video-right {
  /* width: 50%; */
  /* float: left; */
  margin-left: 10px;
  border: 2px solid var(--main-color);
}

.result-client video {
  width: 100%;
  height: 300px;
  object-fit: cover;
  background-color: #044d78;
}



/* TESTIMONIAL SECTION */
.testimony {
  width: 100%;
  border-top: 2px solid rgba(32, 31, 31, 0.4);
}

.testimony .row {
  width: 100%;
  padding: 0 80px;
}

.testimony .container h3 {
  text-align: center;
  font-size: 46px;
  font-weight: 100;
  padding: 40px;
  color: var(--main-color);
}

.testimony .container h3 span {
  font-weight: 1000;
}

.testimony .container .test-row {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  text-align: center;
}

.testimony .container .testimonials {
  border-radius: 10px;
  padding: 10px;
  /* background-color: var(--blue); */
  background-color: var(--main-color);
  color: var(--bg);
}

.testimony .container .testimonials:not(:last-child) {
  margin-right: 20px;
}

.testimony .container .testimonials img {
  width: 100px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  padding-bottom: 15px;
}

.testimony .testimonials p {
  font-size: 18px;
  padding: 10px 0;
}

.testimony .testimonials p q {
  padding: 5px;
}

/* WHY-CHOOSE SECTION */
.choose {
  width: 100%;
  text-align: center;
}

.choose h3 {
  text-align: center;
  font-size: 46px;
  font-weight: 100;
  padding: 25px 0 20px;
  color: var(--main-color);
}

.choose h3 span {
  font-weight: 1000;
}

.choose .why-us {
  padding: 20px 80px;
  width: 100%;
}

.choose .why-us .choose-info {
  padding: 0 30px;
}

.choose .choose-info p {
  font-size: 18px;
  line-height: 1.5;
}

.choose .our-team {
  padding: 30px;
  display: flex;
}

.choose .our-team .team-img {
  width: 50%;
  /* float: left; */
}

.choose .our-team .team-img img {
  width: 100%;
  object-fit: contain;
}

.choose .our-team .meet-team {
  width: 50%;
  padding: 20px;
}

.choose .our-team .meet-team h4 {
  font-size: 20px;
  padding: 20px 0;
  color: var(--main-color);
}

.team-more-info .row {
  display: flex;
  padding-top: 20px;
}

.team-more-info .team-read-more .team-par-head {
  font-size: 18px;
  font-weight: bold;
  background-color: var(--main-color);
  color: var(--bg);
  padding: 5px;
  margin: 0 5px 15px;
  text-align: center;
}

.team-more-info .row .team-read-more:not(:last-child) {
  padding-right: 30px;
}

.team-more-info .team-read-more p {
  align-self: center;
}

/* EXPERTISE */
.expertise {
  width: 100%;
  /* border-top: 2px solid rgba(32, 31, 31, 0.4); */
  padding-bottom: 30px;
}

.expertise h3 {
  text-align: center;
  font-size: 46px;
  padding: 50px 0 20px;
  font-weight: lighter;
  color: var(--main-color);
}


.expertise h3 span {
  font-weight: 1000;
}

.expertise .row {
  display: flex;
  width: 100%;
  padding: 10px 80px;
}

.expertise .row a {
  color: var(--main-color);
  font-weight: bold;
}

.expert {
  border: 1px solid var(--main-color);
  padding: 15px 10px;
}

.expertise .expert:not(:last-child) {
  margin-right: 10px;
}

.expertise .expert:not(:first-child) {
  margin-left: 10px;
}

.expertise .expert .exp {
  display: flex;
  padding-bottom: 10px;
}

.expert .exp img {
  width: 20%;
  /* object-fit: cover; */
}

.expert .exp a {
  padding-left: 20px;
}
.expertise .expert p {
  text-align: justify;
}

.grow-business {
  width: 100%;
}

.grow-business .grow-business-info {
  text-align: center;
  background-color: var(--main-color);
  color: #fff;
  padding: 30px;
}

.grow-business .grow-business-info h5 {
  font-size: 30px;
}

.grow-business .grow-business-info h3 {
  font-size: 85px;
  line-height: 20px;
}

.grow-business .grow-business-info p {
  padding-top: 50px;
  font-size: 20px;
  padding-bottom: 20px;
}

.grow-business .grow-business-info a {
  color: var(--main-color);
  background: var(--bg);
  font-size: 20px;
  padding: 10px 15px;
  margin-top: 10px;
  border-radius: 10px;
}

/* FOOTER SECTION */
footer {
  width: 100%;
}

footer .foot-col h4 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--main-color);
}

footer .foot-col h4 span {
  padding-bottom: 3px;
  border-bottom: 2px solid var(--main-color);
}

footer .foot-col a {
  color: var(--black);
}

footer .foot-col a:hover {
  color: var(--main-color);
  padding-bottom: 5px;
}

footer .row {
  width: 100%;
  padding: 30px 80px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 3px solid var(--main-color);
}

footer .logo-footer {
  width: 35%;
  padding-bottom: 20px;
}

footer .logo-footer img {
  width: 80px;
  height: 100px;
}

footer .office-footer {
  padding: 20px 0;
}

footer .footer-media {
  display: inline-flex;
}

footer .footer-media li {
  font-size: 24px;
}

footer .footer-media li:not(:last-child) {
  padding-right: 10px;
}

footer .footer-media li a {
  color: var(--main-color);
}



/* ABOUT PAGE */


.about-page {
  background: url(../image/about-banner.png);
  background-size: cover;
  background-position: center;
  height: 500px;
}
.about-page .nav-bar .nav-link {
  color: var(--bg);
}
.about-page .nav-bar .nav-link:hover {
  color: var(--main-color);
}

.about-page .head-info a {
  color: var(--bg);
}

.about-page .head-info a:hover {
  color: var(--main-color);
}

.about-content {
  width: 100%;
}

.about-content .about-content-head {
  text-align: center;
  padding: 20px;
}

.about-content .about-content-head h2 {
  text-align: center;
  color: var(--main-color);
  font-size: 32px;
  padding: 20px 10px;
}

.about-content .about-content-head h2 span {
  border-bottom: 3px solid var(--main-color);
  padding-bottom: 20px;
}

.about-content .row {
  padding: 0 80px;
  display: flex;
  width: 100%;
}

.about-content .wedo-head {
  width: 35%;
}

.about-content .wedo-head img {
  width: 100%;
}

.about-content .wedo-info {
  width: 70%;
  padding: 20px;
  background-color: var(--main-color);
  margin: auto 20px;
  color: white;
  font-size: 18px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: justify;
}


.different {
  width: 100%;
}

.different .row {
  padding: 20px 80px 30px;
  display: flex;
  width: 100%;
  position: relative;
}

.different .row .left-diff {
  background-color: var(--main-color);
  padding: 10px 150px 20px 20px;
  text-align: justify;
  color: var(--bg);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  position: relative;
  left: 0;
  top: 0;
  width: 70%;
}

.different .row .left-diff h2 {
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
}

.different .row .left-diff p {
  padding: 20px 0;
  font-size: 17px;
}

.different .row .left-diff a {
  padding: 10px 15px;
  color: var(--main-color);
  border: 2px solid var(--bg);
  background-color: var(--bg);
  text-align: center;
  justify-content: center;
  margin-bottom: 10px;
}

.different .diff-img {
  width: 30%;
  margin: auto 20px auto 0;
  overflow: hidden;
}

.different .diff-img img {
  min-height: 350px;
  width: 35%;
  left: 60%;
  top: 10%;
  bottom: 10%;
  object-fit: cover;
  position: absolute;
  /* width: 200px; */
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.about-result-relationship {
  padding: 30px 80px;
}

.about-result-relationship .row {
  width: 100%;
  display: flex;
}

.about-result-relationship .about-result {
  width: 50%;
  padding: 20px;
}

.about-result-relationship .about-result h2 {
  font-size: 30px;
  line-height: 30px;
  padding-bottom: 20px;
  color: var(--main-color);
}
.about-result-relationship .about-result p {
  font-size: 19px;
  text-align: justify;
}

.about-result-relationship .video-result {
  margin-left: 20px;
  width: 50%;
}

.about-result-relationship .video-result video {
  width: 100%;
  height: 300px;
}
.about-history {
  width: 100%;
  padding: 30px 50px 30px 0;
}
.about-history .const {
  background-color: var(--main-color);
  color: var(--bg);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 20px 80px;
  /* margin-right: 50px; */
}
.about-history .row {
  width: 100%;
  display: flex;
}
.about-history .history-content {
  width: 50%;
}
.about-history .history-content h2 {
  font-size: 35px;
  font-weight: bold;
  line-height: 30px;
  padding: 20px 10px;
}
.about-history .history-content p {
  font-size: 19px;
  padding: 10px;
  text-align: justify;
}

.about-history .history-gallery {
  width: 50%;
  margin-left: 20px;
}
.about-history .history-gallery .his-row-gallery {
  display: flex;
  width: 100%;
  padding-bottom: 15px;
}
.about-history .history-gallery .his-row-gallery img:not(:last-child) {
  width: 50%;
  margin-right: 15px;
}

.about-history .history-gallery img {
  width: 50%;
  object-fit: contain;
}

.about-history .years-histories {
  padding: 20px;
  display: flex;
}

.about-history .years-histories .history-year-cont {
  padding: 10px;
  border: 4px solid var(--bg);
  border-bottom: none;
  border-top-right-radius: 25px;
}
.about-history .years-histories .history-year-cont:not(:last-child) {
  margin-right: 10px;
}

.about-vision {
  padding: 180px 80px 30px;
}
.about-vision .vision-content {
  background-color: var(--main-color);
  color: var(--bg);
  /* position: relative; */
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.about-vision .vision-content video {
  position: relative;
  top: -180px;
  border-radius: 20px;
  width: 50%;
  object-fit: cover;
  align-self: center;
  height: 400px;
}


.about-vision .vision-content .vision-content-text {
  position: absolute;
  margin-top: 250px;
  align-self: center;
  width: 50%;
  margin-bottom: 20px;
  text-align: center;
}

.about-vision .vision-content .vision-content-text h3 {
  font-size: 35px;
}
.about-vision .vision-content .vision-content-text p {
  font-size: 18px;
}

.about-mission {
  padding: 20px 80px;
}
.about-mission .mission-content {
  background-color: var(--bg);
  border: 3px solid var(--main-color);
}

.about-mission .mission-content .mission-head {
  display: flex;
}
.about-mission .mission-content .mission-icon {
  width: 10%;
  border-bottom: 3px solid var(--main-color);
  border-right: 3px solid var(--main-color);
  border-bottom-right-radius: 50%;
  background-color: var(--main-color);
}
.about-mission .mission-content .mission-icon img {
  width: 100%;
  align-self: center;
  padding: 10%;
}
.about-mission .mission-head h2 {
  color: var(--main-color);
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  align-self: center;
  width: 90%;
}
.about-mission .mission-head h2 span {
  padding-bottom: 10px;
  border-bottom: 4px solid var(--main-color);
}
.about-mission .mission-content p {
  padding: 15px;
  font-size: 18px;
}

.about-core-values {
  padding: 20px 80px;
}
.about-core-values .value-content {
  background-color: var(--bg);
  border: 3px solid var(--main-color);
}

.about-core-values .value-content .value-head {
  display: flex;
}
.about-core-values .value-content .value-icon {
  width: 10%;
  border-bottom: 3px solid var(--main-color);
  border-right: 3px solid var(--main-color);
  border-bottom-right-radius: 50%;
  background-color: var(--main-color);
}
.about-core-values .value-content .value-icon img {
  width: 100%;
  align-self: center;
  padding: 10%;
}
.about-core-values .value-head h2 {
  color: var(--main-color);
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  align-self: center;
  width: 90%;
}
.about-core-values .value-head h2 span {
  padding-bottom: 10px;
  border-bottom: 4px solid var(--main-color);
}
.about-core-values .value-content p {
  padding: 15px;
  font-size: 18px;
}



/* SERVICE PAGE */
.service-page {
  background: url(../image/contact-banner.png);
  background-size: cover;
  background-position: center;
  height: 500px;
}

.service-page .head-info a {
  color: var(--bg);
}

.service-page .head-info a:hover {
  color: var(--main-color);
}
/* .service-page #nicer {
  padding: 80px;
} */
.service-page .container h1 {
  font-size: 87px;
  line-height: 87px;
  padding-top: 0;
  color: var(--bg);
  font-family: "proxima-nova-bold", sans-serif;
}
.service-page .banner p {
  color: var(--bg);
  font-size: 20px;
  padding: 10px 20px 40px;
}


/* ALL SERVICES */
.all-services {
  padding: 20px 80px;
}

.all-services .all-services-head {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.all-services .all-services-head h2 {
  color: var(--main-color);   
}
.all-services .all-services-head a {
  color: var(--main-color);
  font-size: 18px;
}

.all-services .row {
  padding: 20px 0;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(320px, 1fr) );
  object-fit: contain;
}
.all-services .row .service-list {
  width: 100%;
  border: 2px solid var(--main-color);
  position: relative;
  cursor: pointer;
  margin: 10px;
}
.all-services .row .service-list a {
  color: var(--bg);
}
.all-services .row .service-list img {
  width: 100%;
  display: block;
  height: auto;
}
.all-services .row .service-list .service-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(4, 77, 120, 0.8);
  /* display: none; */
}
.all-services .row .service-list:hover .service-text {
  opacity: 1;
}
.service-text {
  color: white;
  position: absolute;
  text-align: center;
  padding: 15px;
}
.all-services .service-list h2 {
  font-size: 22px;
  font-weight: bold;
  color: var(--main-color);
  padding: 5px;
}
.all-services .row .service-list .service-text p {
  font-size: 18px;
}



/* BRAND IDENTITY PAGE */

.brand-identity {
  padding: 20px 80px;
  width: 100%;
}
.brand-identity .brand-head {
  text-align: center;
}
.brand-identity h2 {
  color: var(--main-color);
  font-size: 35px;
}
.brand-identity .brand-head p {
  width: 100%;
  border-bottom: 2px solid var(--main-color);
  text-align: center;
  align-self: center; 
}
.brand-identity .fa-caret-down {
  color: var(--main-color);
  font-size: 30px; 
}
.brand-identity .brand-content {
  width: 100%;
  display: flex;
  padding: 20px 0;
}
.brand-identity .brand-content .branding-img {
  width: 50%;
  margin-right: 20px;
}
.brand-identity .brand-content .branding-img img {
  width: 100%;
}
.brand-identity .brand-content .branding-text {
  width: 50%;
  margin: auto 10px;
}
.brand-identity .brand-content .branding-text h3 {
  font-size: 22px;
  font-weight: bold;
  color: var(--main-color);
  text-shadow: 1px 1px 15px var(--main-color);
  padding: 15px 0;
}
.brand-identity .brand-content .branding-text p {
  text-align: justify;
}



/* CONTACT PAGE */
.contact-page {
  background: url(../image/contact-banner.png);
  background-size: cover;
  background-position: center;
  height: 500px;
}
.contact-page .nav-bar .nav-link {
  color: var(--bg);
}
.contact-page .nav-bar .nav-link:hover {
  color: var(--main-color);
}

.contact-page .head-info a {
  color: var(--bg);
}

.contact-page .head-info a:hover {
  color: var(--main-color);
}

.contact-form {
  padding-top: 30px;
  text-align: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
}

.contact-form .msg-head {
  text-align: center;
  padding: 20px 80px;
}

.contact-form .msg-head h2 {
  font-size: 35px;
  color: var(--main-color);
}

.contact-form .msg-head p {
  font-size: 18px;
  padding: 0 20px;
}

.contact-form form {
  display: block;
  /* text-align: center; */
  align-items: center;
  width: 100%;
  padding: 20px 20%;
}

.contact-form form input {
  margin-bottom: 15px;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  box-shadow: rgba(51, 51, 51, 0.2);
}

.contact-form form #brands {
  margin-bottom: 15px;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  position: inherit;
  box-shadow: 4px 4px 12px rgba(51, 51, 51, 0.2);
}

.contact-form form #message {
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  box-shadow: 4px 4px 12px rgba(51, 51, 51, 0.2);
}

.contact-form form #form-submit {
  width: 100%;
  padding: 10px;
  background-color: var(--main-color);
  color: var(--bg);
  text-align: center;
  font-size: 18px;
}
.contact-form form #form-submit:hover {
  background-color: var(--bg);
  border: 2px solid var(--main-color);
  color: var(--main-color);
}


/* Find Us */

.find-us {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 80px;
}

.find-us .find-us-head h2 {
  text-align: center;
  padding: 20px;
  font-size: 30px;
  color: var(--main-color);
}

.find-us p {
  border-bottom: 1px solid #fff;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.find-us h4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-top: 10px;
}

.find-us .row {
  width: 100%;
  display: flex;
}

#map {
  width: 50%;
  border: 2px solid var(--main-color);
}

.find-us .find-col-2 {
  width: 50%;
  background-color: var(--main-color);
  color: var(--bg);
}

.find-us .find-col-2 .location {
  margin-left: 30px;
}

.find-us .find-col-2 .social-icons {
  display: flex;
  font-size: 24px;
}

.find-us .find-col-2 ul li a {
  background-color: var(--bg);
  color: var(--main-color);
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 5px;
}

.cont-footer {
  border-top: 3px solid var(--main-color);
}

