/* MEDIA QUERIES FOR ALL SCREEN */

@media (min-width: 1810px) {
  .container {
    padding: 0 25%;
    width: 100%;
    align-items: center;
  }
  .about-vision .vision-content .vision-content-text {
    padding: 0 50px;
  }
}

@media (min-width: 1024px) {
  .nav-bar ul li:hover .nav-sub {
    display: block;
    position: absolute;
    background: var(--bg);
    padding-top: 15px;
    margin-bottom: 15px;
  }

  .nav-bar ul li:hover .nav-sub ul li {
    width: auto;
    padding: 10px;
    text-align: left;
  }

  .nav-bar ul li:hover .nav-sub ul li:not(:last-child) {
    border-bottom: 1px dotted var(--main-color);
  }

  .nav-bar ul li:hover .nav-sub ul li a:hover {
    color: var(--blue);
  }
  .service-page .nav-bar .nav-link {
    color: var(--bg);
  }
  .service-page .nav-bar .nav-link:hover {
    color: var(--main-color);
  }

  .fa-caret-right {
    float: right;
    padding-top: 5px;
    align-items: center;
  }

  .nav-sub-2 {
    display: none;
  }

  .nav-link-2:hover .nav-sub-2 {
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 355px;
    background-color: var(--bg);
  }

  .nav-sub-2 ul {
    width: auto;
    text-align: left;
  }
}

@media (min-width: 320px) and (max-width: 1024px) {
  header .nav-bar {
    height: 0;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    background-color: var(--bg);
    transition: 0.2s;
    overflow: hidden;
  }
  .head-min {
    height: 400px;
  }
  .head-min #nice {
    height: 300px;
    padding-top: 115px;
  }
  .head-min #serv-min {
    height: 300px;
    padding-top: 70px;
  }

  .nav-bar.active {
    height: auto;
  }

  .nav-bar {
    z-index: 1;
  }

  .nav-bar ul {
    display: block;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }

  .nav-bar.active ul {
    opacity: 1;
    align-items: center;
    z-index: 2;
  }

  header .nav-bar ul li {
    padding: 15px;
    cursor: pointer;
  }

  header nav ul li:not(:last-child) {
    border-bottom: 1px dotted var(--main-color);
    padding-right: 15px;
  }

  .nav-sub-2 {
    display: none;
  }

  .nav-bar ul li:hover .nav-sub {
    display: block;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    color: #044d78;
    padding-left: 20px;
  }

  .hamburger.active .line:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .hamburger .line {
    width: 30px;
    height: 3px;
    background: #044d78;
    margin: 5px 0;
  }

  .hamburger .line:not(:last-child) {
    margin: 0 0 5px;
  }

  #nice .container {
    padding: 60px 0;
  }

  #nice .container h4 {
    font-size: 18px;
  }

  .about-page .nav-bar .nav-link {
    color: var(--main-color);
  }

  .about-page .hamburger .line {
    background-color: var(--bg);
  }

  .about-page .hamburger .line {
    background-color: var(--bg);
  }

  .service-page .hamburger .line {
    background-color: var(--bg);
  }

  .contact-page .nav-bar .nav-link {
    color: var(--main-color);
  }

  .contact-page .hamburger .line {
    background-color: var(--bg);
  }

  .contact-form .msg-head {
    padding: 20px 40px;
  }

  footer .logo-footer {
    width: auto;
  }
}

/* SCREEN 320px - 767px */
@media (min-width: 320px) and (max-width: 767px) {
  header .nav-bar ul li {
    padding: 10px;
  }

  #nice .container {
    padding: 20px 0;
  }

  #nice .container h4 {
    font-size: 18px;
  }

  #nice h1 {
    font-size: 46px;
  }
  #nicer h1 {
    padding-top: 0;
  }
  #nicer h4 {
    font-size: 12px;
    padding: 0 30px 20px;
  }

  .head-info ul li a img {
    width: 42px;
  }

  .result-client .row {
    display: flex;
    flex-direction: column;
  }
  .result-client .row .video-left {
    margin-bottom: 20px;
  }

  .choose .our-team .team-img {
    width: 100%;
  }

  .team-more-info .row {
    display: block;
  }

  .team-more-info .team-read-more {
    padding: 10px;
  }

  .team-more-info .row .team-read-more:not(:last-child) {
    padding-right: 15px;
  }

  .expertise h3 {
    padding: 20px 15px;
    font-size: 26px;
  }

  .expertise .row {
    display: block;
    width: 100%;
    padding: 0 30px;
  }

  .expertise .expert {
    margin-bottom: 20px;
  }

  .expertise .expert:not(:first-child) {
    margin-left: 0;
  }

  .expertise .expert:not(:last-child) {
    margin-right: 0;
  }

  .expertise .expert .exp {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    text-align: center;
    align-items: center;
  }

  .expert .exp img {
    width: 100px;
    height: 100px;
    padding-bottom: 10px;
    object-fit: cover;
  }

  .expert .exp a {
    padding-left: 0;
    width: 100%;
  }

  .contact-form .msg-head p {
    font-size: 15px;
    padding: 0 10px;
  }

  .find-us {
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .find-us .row {
    display: block;
  }

  #map {
    width: 100%;
  }

  .find-us .find-col-2 {
    width: 100%;
  }

  .find-us p {
    margin-bottom: 20px;
  }

  .find-us .find-col-2 ul {
    padding-bottom: 20px;
  }

  /* ABOUT PAGE */

  .all-services {
    padding: 15px 30px;
  }
  .about-content .row {
    padding: 20px;
    display: block;
    width: 100%;
  }
  .about-content .wedo-head {
    width: 100%;
    align-self: center;
  }
  .about-content .wedo-head img {
    width: 100%;
    padding: 0 15%;
  }
  .about-content .wedo-info {
    width: 100%;
    padding: 20px;
    margin: 10px 0px 20px;
    color: white;
    font-size: 18px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: justify;
  }

  .about-result-relationship {
    padding: 20px;
  }
  .about-result-relationship .row {
    display: block;
  }
  .about-result-relationship .about-result {
    width: 100%;
    padding: 10px;
  }
  .about-result-relationship .about-result h2 {
    font-size: 28px;
    padding-bottom: 20px;
  }
  .about-result-relationship .about-result p {
    font-size: 18px;
    text-align: justify;
  }

  .about-result-relationship .video-result {
    margin-left: 0;
    width: 100%;
  }
  .different .row {
    padding: 15px 20px 15px;
    /* display: block; */
    width: 100%;
    position: relative;
    background-color: var(--main-color);
  }
  .different .row .left-diff {
    padding: 15px 10px 15px 15px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    width: 60%;
  }

  .different .row .left-diff h2 {
    padding: 10px;
    font-size: 22px;
  }

  .different .row .left-diff p {
    padding: 15px 0;
    font-size: 16px;
  }

  .different .row .left-diff a {
    padding: 10px 15px;
    text-align: center;
    justify-content: center;
    margin-bottom: 10px;
  }

  .different .diff-img {
    width: 30%;
    margin: auto 20px auto 0;
  }

  .different .diff-img img {
    max-height: 350px;
    margin: auto 0;
    width: 35%;
    left: 60%;
    top: 0;
    bottom: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .about-history {
    width: 100%;
    padding: 20px;
  }
  .about-history .const {
    border-top-right-radius: 0;
    border-bottom-right-radius: 30px;
    padding: 15px;
    /* margin-right: 50px; */
  }
  .about-history .row {
    width: 100%;
    display: block;
  }
  .about-history .history-content {
    width: 100%;
  }
  .about-history .history-content h2 {
    font-size: 32px;
    font-weight: bold;
    line-height: 30px;
    padding: 15px 10px;
  }
  .about-history .history-content p {
    font-size: 17px;
    padding: 10px;
    text-align: justify;
  }

  .about-history .history-gallery {
    width: 100%;
    margin-left: 0;
    padding: 10px;
  }

  .about-history .years-histories {
    padding: 10px;
    display: grid;
    /* grid-template-columns: repeat(auto-fill, min-max(100px, 1fr)); */
    gap: 0.5rem;
    margin-top: 1rem;
  }

  .about-history .years-histories .history-year-cont {
    border-top-right-radius: 15px;
  }
  .about-history .years-histories .history-year-cont:not(:last-child) {
    margin-right: 0;
  }

  .about-vision {
    padding: 20px;
    margin-bottom: 0;
  }

  .about-vision .vision-content {
    background-color: var(--main-color);
    color: var(--bg);
    position: relative;
    padding: 10px 15px;
  }

  .about-vision .vision-content video {
    position: relative;
    top: 10px;
    border-radius: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 100%;
    object-fit: cover;
    align-self: center;
  }

  .about-vision .vision-content .vision-content-text {
    position: relative;
    margin-top: 20px;
    align-self: center;
    width: 100%;
    margin-bottom: 20px;
  }
  .about-mission .mission-head h2 span {
    border-bottom: 3px solid var(--main-color);
  }
  .about-core-values .value-head h2 span {
    border-bottom: 3px solid var(--main-color);
  }
  .about-mission .mission-head .mission-icon {
    width: 20%;
  }

  .about-core-values .value-head .value-icon {
    width: 20%;
  }

  /* BRAND IDENTITY PAGE */

  .brand-identity {
    padding: 20px 30px;
  }

  .brand-identity h2 {
    font-size: 32px;
  }
  .brand-identity .brand-head p {
    width: 100%;
    border-bottom: 2px solid var(--main-color);
    text-align: center;
    align-self: center;
  }
  .brand-identity .fa-caret-down {
    font-size: 28px;
  }
  .brand-identity .brand-content {
    display: block;
  }
  .brand-identity .brand-content .branding-img {
    width: 100%;
    margin-right: 0;
  }
  .brand-identity .brand-content .branding-img img {
    width: 100%;
  }
  .brand-identity .brand-content .branding-text {
    width: 100%;
    margin: 0;
    padding: 10px;
  }
  .brand-identity .brand-content .branding-text h3 {
    font-size: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* CSS */
  header {
    height: 500px;
  }

  header .container .header-cont {
    padding: 20px 80px;
  }

  header .container .logo img {
    padding-top: 10px;
  }

  /* BANNER SECTION */
  .banner {
    padding: 120px 60px 0;
  }

  .banner .banner-content h1 {
    font-size: 65px;
    line-height: 65px;
  }
  #nice .container h1 {
    font-size: 76px;
  }

  .banner .container h1 span {
    color: var(--main-color);
  }

  .banner .banner-content h4 {
    font-size: 33px;
    line-height: 33px;
    margin-bottom: 5px;
  }

  .banner .banner-content .banner-link a {
    padding: 18px 24px;
    font-size: 18px;
  }

  /* MEDIA REVIEWS */
  .media-reviews {
    padding-left: 60px;
    padding-right: 60px;
  }

  .media-reviews .medias h2 {
    font-size: 40px;
    line-height: 40px;
    padding-bottom: 8px;
  }
  .media-reviews .medias .stars {
    font-size: 18px;
    line-height: 18px;
  }

  .media-reviews .medias span {
    padding-top: 0px;
    font-size: 18px;
    font-weight: 600;
  }

  /* GET CLIENT RESULT SECTION */
  .result-client h3 {
    font-size: 40px;
    padding: 20px 0;
    font-weight: 100;
  }

  .result-client .row {
    width: 100%;
    padding: 30px 60px;
  }

  .result-client .hvideo-content q {
    font-size: 23px;
  }

  video {
    height: 300px;
  }

  /* TESTIMONIAL SECTION */
  .testimony .row {
    padding: 0 30px;
  }

  .testimony .container .test-row {
    padding: 0;
  }

  .testimony .container h3 {
    font-size: 40px;
    padding: 20px 0;
  }

  /* WHY-CHOOSE SECTION */
  .choose h3 {
    font-size: 35px;
    padding: 20px;
  }

  .choose .why-us {
    padding: 20px 40px;
  }

  .choose .why-us .choose-info {
    padding: 0 20px;
  }

  .choose .our-team {
    padding: 15px 10px;
    display: flex;
  }

  .choose .our-team .meet-team {
    padding: 0 0 0 20px;
  }

  .choose .our-team .meet-team h4 {
    padding: 0;
  }

  .expertise h3 {
    padding: 30px 0 20px;
  }

  .expertise .row {
    display: flex;
    width: 100%;
    padding: 20px 40px;
  }

  .contact-form form {
    padding: 20px 60px;
  }

  .find-us {
    padding: 20px 40px;
  }

  footer .row {
    width: 100%;
    padding: 30px 60px;
  }

  /* ABOUT PAGE */
  .all-services {
    padding: 20px 40px;
  }
  .about-content .row {
    padding: 20px 30px;
  }
  .about-result-relationship {
    padding: 30px;
  }
  .about-result-relationship .about-result h2 {
    font-size: 25px;
  }
  .different .row {
    padding: 20px 30px;
  }
  .different .row .left-diff h2 {
    font-size: 22px;
  }
  .different .diff-img img {
    width: 42%;
    left: 53.5%;
  }
  .about-history {
    padding: 20px 25px 20px 0;
  }

  .about-history .const {
    padding: 20px 30px;
  }
  .about-history .years-histories {
    padding: 0;
  }

  .about-vision {
    padding: 180px 30px 30px;
  }
  .about-vision .vision-content {
    padding: 0 30px 20px;
  }

  .about-vision .vision-content video {
    width: 100%;
    object-fit: contain;
    height: 300px;
  }

  .about-vision .vision-content .vision-content-text {
    width: 100%;
    padding: 10px 40px;
    margin-top: 140px;
  }
  .about-mission,
  .about-core-values {
    padding: 20px 30px;
  }

  /* SERVICE PAGE */
  .service-page .container p {
    font-size: 18px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  /* CSS */

  header {
    height: 400px;
    overflow: hidden;
  }

  header .container .header-cont {
    width: 100%;
    padding: 20px;
  }

  header .container .logo img {
    width: 50px;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    color: #044d78;
    padding-left: 20px;
  }

  .hamburger .line {
    width: 30px;
    height: 3px;
    background: #044d78;
    margin: 5px 0;
  }

  .hamburger .line:not(:last-child) {
    margin: 0 0 5px;
  }

  /* BANNER SECTION */

  .banner {
    padding: 80px 30px 0;
  }

  .banner .banner-content h1 {
    font-size: 46px;
    line-height: 46px;
  }
  #nice .container h1 {
    font-size: 76px;
  }

  .banner .banner-content h4 {
    font-size: 22px;
    line-height: 22px;
  }

  .banner .banner-content .banner-link a {
    padding: 17px 16px;
    font-size: 17px;
  }

  /* MEDIA REVIEWS */
  .media-reviews {
    padding: 20px 0;
  }

  .media-reviews .row {
    display: block;
  }

  .media-reviews .medias {
    padding-bottom: 15px;
  }

  .media-reviews .medias h2 {
    font-size: 40px;
  }

  .media-reviews .medias .stars {
    font-size: 18px;
    line-height: 18px;
  }

  .media-reviews .medias ul li:not(:last-child) {
    padding-right: 4px;
  }

  .media-reviews .medias span {
    padding-top: 0;
    font-size: 18px;
    font-weight: bold;
  }

  /* GET CLIENT RESULT SECTION */
  .result-client h3 {
    font-size: 35px;
    padding: 20px 0;
  }

  .result-client .row {
    padding: 20px 30px;
  }

  .result-client .row .video-left {
    margin-right: 0;
    /* margin-bottom: 20px; */
  }

  .result-client .row .video-right {
    margin-left: 0;
  }

  .result-client .hvideo-content q {
    font-size: 23px;
  }

  /* TESTIMONIAL SECTION */
  .testimony {
    border-top: none;
  }

  .testimony .row {
    padding: 0 20px;
  }

  .testimony .container h3 {
    font-size: 28px;
    padding: 20px 0;
  }

  .testimony .container .test-row {
    width: 100%;
    display: block;
  }

  .testimony .container .testimonials {
    padding: 10px;
    margin-bottom: 20px;
  }

  .testimony .container .testimonials:not(:last-child) {
    margin-right: 0px;
  }

  .testimony .container .testimonials img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
    padding-bottom: 15px;
  }

  .testimony .testimonials p {
    font-size: 18px;
    padding: 10px 0;
  }

  .testimony .testimonials p q {
    /* background: var(--blue); */
    color: var(--bg);
  }

  /* WHY-CHOOSE SECTION */
  .choose {
    width: 100%;
  }

  .choose h3 {
    font-size: 28px;
    padding: 20px;
  }

  .choose .why-us {
    padding: 10px 20px;
    width: 100%;
  }

  .choose .why-us .choose-info {
    padding: 0 20px;
  }

  .choose .choose-info p {
    font-size: 15px;
    line-height: 1.5;
  }

  .choose .our-team {
    padding: 15px 0;
    display: block;
  }

  .choose .our-team .team-img {
    width: 100%;
  }

  .choose .our-team img {
    width: 100%;
    height: 200px;
  }

  .choose .our-team .meet-team {
    width: 100%;
    padding: 15px;
  }

  .team-read-more {
    padding-left: 0;
  }

  .team-more-info .team-read-more .team-par-head {
    font-size: 18px;
    padding: 5px;
    margin: 0 100px 15px;
  }
  .grow-business .grow-business-info p {
    font-size: 18px;
    padding: 45px 15px 20px;
  }

  .contact-form form {
    padding: 20px;
  }

  .about-vision .vision-content .vision-content-text h3 {
    font-size: 30px;
  }
  .about-vision .vision-content .vision-content-text p {
    font-size: 17px;
  }

  .about-mission,
  .about-core-values {
    padding: 20px;
  }

  .about-mission .mission-head h2 {
    font-size: 30px;
    width: 80%;
  }
  .about-core-values .value-head h2 {
    font-size: 28px;
    width: 80%;
  }
  .about-mission .mission-content p {
    font-size: 17px;
  }
  .about-core-values .value-content p {
    font-size: 17px;
  }

  /* FOOTER SECTION */
  footer .row {
    width: 100%;
    padding: 20px 30px;
    display: block;
    overflow: hidden;
  }

  footer .logo-footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  footer .foot-col {
    width: 50%;
    float: left;
    justify-content: space-between;
  }

  footer .office-footer {
    padding-top: 0;
  }
}

@media (min-width: 375px) and (max-width: 480px) {
  /* CSS */

  header {
    height: 400px;
    overflow: hidden;
  }

  header .container .header-cont {
    width: 100%;
    padding: 12px 20px;
  }

  header .container .logo img {
    width: 50px;
  }

  .head-info ul li:not(:last-child) {
    padding-right: 20px;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    color: #044d78;
    padding-left: 20px;
  }

  .hamburger .line {
    width: 30px;
    height: 3px;
    background: #044d78;
    margin: 5px 0;
  }

  .hamburger .line:not(:last-child) {
    margin: 8px 0 8px;
  }

  /* BANNER SECTION */

  .banner {
    padding: 80px 20px 0;
  }

  .banner .banner-content h1 {
    font-size: 35px;
    line-height: 35px;
  }

  .banner .banner-content h4 {
    font-size: 19px;
    line-height: 19px;
    margin-bottom: 10px;
  }

  .banner .banner-content .banner-link a {
    padding: 17px 16px;
    font-size: 17px;
  }
  .service-page .banner p {
    font-size: 15px;
  }

  /* MEDIA REVIEWS */
  .media-reviews {
    padding: 20px 0;
  }

  .media-reviews .row {
    display: block;
  }

  .media-reviews .medias {
    padding-bottom: 15px;
  }

  .media-reviews .medias h2 {
    font-size: 38px;
  }

  .media-reviews .medias .stars {
    font-size: 19px;
    line-height: 19px;
  }

  .media-reviews .medias ul li:not(:last-child) {
    padding-right: 4px;
  }

  .media-reviews .medias span {
    padding-top: 0;
    font-size: 19px;
    font-weight: bold;
  }

  /* GET CLIENT RESULT SECTION */
  .result-client h3 {
    font-size: 28px;
  }

  /* Watch Video Section */
  .result-client {
    width: 100%;
  }

  .result-client .row {
    padding: 10px 15px;
  }

  .result-client .row .video-left {
    margin-right: 0;
  }

  .result-client .row .video-right {
    margin-left: 0;
  }
  .result-client .hvideo-content q {
    font-size: 22px;
  }

  .result-client .hvideo-content .video-para {
    font-size: 15px;
}

  /* TESTIMONIAL SECTION */
  .testimony {
    border-top: none;
  }

  .testimony .row {
    padding: 0 20px;
  }

  .testimony .container h3 {
    font-size: 24px;
    padding: 15px;
  }

  .testimony .container .test-row {
    width: 100%;
    display: block;
  }

  .testimony .container .testimonials {
    padding: 10px;
    margin-bottom: 15px;
  }

  .testimony .container .testimonials:not(:last-child) {
    margin-right: 0px;
  }

  .testimony .container .testimonials img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
    padding-bottom: 15px;
  }

  .testimony .testimonials p {
    font-size: 15px;
    padding: 8px 0;
  }

  /* WHY-CHOOSE SECTION */
  .choose {
    width: 100%;
  }

  .choose h3 {
    font-size: 24px;
    padding: 20px;
  }

  .choose .why-us {
    padding: 10px 20px;
    width: 100%;
  }

  .choose .why-us .choose-info {
    padding: 10px;
  }

  .choose .choose-info p {
    font-size: 15px;
    line-height: 1.5;
    text-align: justify;
  }

  .choose .our-team {
    padding: 0;
    display: block;
  }

  .choose .our-team .team-img {
    width: 100%;
  }

  .choose .our-team img {
    width: 100%;
    height: 200px;
  }

  .choose .our-team .meet-team {
    width: 100%;
    padding: 10px;
  }
  .choose .our-team .meet-team p {
    text-align: justify;
    padding: 0 10px;
    font-size: 15px;
  }
  .team-read-more {
    padding-left: 0;
  }

  .team-more-info .team-read-more .team-par-head {
    font-size: 18px;
    padding: 5px;
    margin: 0 60px 15px;
  }

  .team-more-info .team-read-more p {
    font-size: 15px;
}

.about-result-relationship .about-result p {
  font-size: 15px;
}
.about-history .history-content p {
  font-size: 15px;
}

  .expertise .row {
    padding: 0 20px;
  }

  .grow-business .grow-business-info h5 {
    font-size: 35px;
  }

  .grow-business .grow-business-info h3 {
    font-size: 65px;
    line-height: 20px;
  }

  .grow-business .grow-business-info p {
    padding-top: 30px;
    font-size: 15px;
    padding-bottom: 15px;
  }

  .grow-business .grow-business-info a {
    font-size: 16px;
  }

  .contact-form form {
    padding: 15px;
  }

  /* FOOTER SECTION */
  footer .row {
    width: 100%;
    padding: 20px;
    display: block;
    overflow: hidden;
  }

  footer .logo-footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  footer .foot-col {
    width: 50%;
    float: left;
    justify-content: space-between;
  }

  footer .foot-col h4 {
    font-size: 20px;
  }

  footer .office-footer {
    padding-top: 0;
  }
  p {
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  .result-client .hvideo-content .tarrif-cont .tarrif {
    font-size: 35px;
  }
  .result-client .hvideo-content .tarrif-cont .tarrif span {
    font-size: 16px;
  }
  .contact-form .msg-head h2 {
    font-size: 30px;
  }
  video {
    height: 300px;
  }
  .different .row {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
  }
  .different .row .left-diff {
    padding: 12px;
    position: relative;
    width: 100%;
    border: 2px solid var(--bg);
  }

  .different .row .left-diff h2 {
    padding: 10px;
    font-size: 20px;
  }

  .different .row .left-diff p {
    padding: 10px 0;
    font-size: 15px;
  }

  .different .row .left-diff a {
    padding: 10px 15px;
    text-align: center;
    justify-content: center;
    margin-bottom: 10px;
  }

  .different .diff-img {
    width: 100%;
    padding: 10px;
    margin: 0;
  }

  .different .diff-img img {
    object-fit: contain;
    width: 100%;
    height: 100px;
    position: inherit;
    left: 0;
    bottom: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .about-vision .vision-content .vision-content-text h3 {
    font-size: 25px;
  }
  .about-vision .vision-content .vision-content-text p {
    font-size: 15px;
  }
  .about-mission,
  .about-core-values {
    padding: 15px;
  }

  .about-mission .mission-head h2 {
    font-size: 25px;
    width: 80%;
  }
  .about-core-values .value-head h2 {
    font-size: 22px;
    width: 80%;
  }
  .about-mission .mission-content p {
    font-size: 15px;
  }
  .about-core-values .value-content p {
    font-size: 15px;
  }

  /* SERVICE PAGE */
  .all-services {
    padding: 15px 25px 15px 5px;
  }
  .all-services .all-services-head h2 {
    font-size: 17px;
  }
  .all-services .row {
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    object-fit: contain;
  }
  .all-services .all-services-head a {
    font-size: 16px;
  }

  .all-services .row .service-list {
    cursor: pointer;
  }
  .service-text {
    padding: 10px;
  }
}

@media (max-width: 375px) {
  header {
    height: 400px;
    overflow: hidden;
  }

  header .container .header-cont {
    width: 100%;
    padding: 8px 15px;
  }

  header .container .logo img {
    width: 50px;
  }

  .head-info ul li:not(:last-child) {
    padding-right: 15px;
  }

  #nice h1 {
    font-size: 38px;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    color: #044d78;
    padding-left: 15px;
  }

  .hamburger .line {
    width: 30px;
    height: 3px;
    background: #044d78;
    margin: 5px 0;
  }

  .hamburger .line:not(:last-child) {
    margin: 0 0 5px;
  }

  /* BANNER SECTION */

  .banner {
    padding: 90px 15px 0;
  }

  .banner .banner-content h1 {
    font-size: 28px;
    line-height: 28px;
  }

  .banner .banner-content h4 {
    font-size: 17px;
    line-height: 17px;
    margin-bottom: 10px;
  }

  .banner .banner-content .banner-link a {
    padding: 16px 15px;
    font-size: 15px;
  }
  .service-page .banner p {
    font-size: 14px;
  }

  /* MEDIA REVIEWS */
  .media-reviews {
    padding: 10px 15px;
  }

  .media-reviews .row {
    display: block;
  }

  .media-reviews .medias {
    padding-bottom: 15px;
  }

  .media-reviews .medias h2 {
    font-size: 22px;
  }

  .media-reviews .medias .stars {
    font-size: 14px;
  }

  .media-reviews .medias ul li:not(:last-child) {
    padding-right: 4px;
  }

  .media-reviews .medias span {
    padding-top: 8px;
    font-size: 15px;
    font-weight: bold;
  }

  /* GET CLIENT RESULT SECTION */
  .result-client h3 {
    font-size: 28px;
  }

  /* Watch Video Section */

  .result-client .row {
    padding: 10px 15px;
  }

  .result-client .row .video-left {
    margin-right: 0;
  }

  .result-client .row .video-right {
    margin-left: 0;
  }

  .result-client .hvideo-content q {
    font-size: 20px;
  }

  /* TESTIMONIAL SECTION */
  .testimony {
    border-top: none;
  }

  .testimony .row {
    padding: 0 15px;
  }

  .testimony .container h3 {
    font-size: 24px;
    padding: 15px;
  }

  .testimony .container .test-row {
    width: 100%;
    display: block;
  }

  .testimony .container .testimonials {
    padding: 10px;
    margin-bottom: 15px;
  }

  .testimony .container .testimonials:not(:last-child) {
    margin-right: 0px;
  }

  .testimony .container .testimonials img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
    padding-bottom: 15px;
  }

  .testimony .testimonials p {
    font-size: 14px;
    padding: 8px 0;
  }

  /* WHY-CHOOSE SECTION */
  .choose {
    width: 100%;
  }

  .choose h3 {
    font-size: 22px;
    padding: 15px;
  }

  .choose .why-us {
    padding: 10px 20px;
    width: 100%;
  }

  .choose .why-us .choose-info {
    padding: 0 10px;
  }

  .choose .choose-info p {
    font-size: 14px;
    padding-bottom: 10px;
    line-height: 1.5;
    text-align: justify;
  }

  .choose .our-team {
    padding: 0;
    display: block;
  }

  .choose .our-team .team-img {
    width: 100%;
  }

  .choose .our-team img {
    width: 100%;
    height: 200px;
  }

  .choose .our-team .meet-team {
    width: 100%;
    padding: 10px;
  }

  .choose .our-team .meet-team h4 {
    padding: 10px;
  }

  .expertise .row {
    padding: 0 15px;
  }

  .grow-business .grow-business-info h5 {
    font-size: 20px;
  }

  .grow-business .grow-business-info h3 {
    font-size: 60px;
  }

  .grow-business .grow-business-info p {
    padding-top: 30px;
    font-size: 14px;
    padding-bottom: 20px;
  }

  .about-content .about-content-head h2 {
    font-size: 24px;
  }
  .about-result-relationship .about-result h2 {
    font-size: 22px;
}
  .about-result-relationship .about-result p {
    font-size: 14px;
}
.about-history .history-content p {
  font-size: 14px;
}
.about-vision .vision-content .vision-content-text p {
  font-size: 14px;
}
.about-mission .mission-content p {
  font-size: 14px;
}
.about-core-values .value-content p {
  font-size: 14px;
}
.different .row .left-diff p {
  font-size: 14px;
}

  .contact-form form {
    padding: 15px;
  }

  .contact-form .msg-head h2 {
    font-size: 26px;
  }
  .contact-form .msg-head p {
    font-size: 14px;
  }

  .find-us p {
    font-size: 14px;
}

p {
  font-size: 14px;
}

  /* FOOTER SECTION */
  footer .row {
    width: 100%;
    padding: 15px;
    display: block;
    overflow: hidden;
    align-items: center;
    text-align: center;
  }

  footer .foot-col h4 {
    font-size: 20px;
    margin-top: 10px;
  }
}
